/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


.portlet-content-editable{
padding: 0px;
}
.portlet-title-text
{
    display:none !important;
}
.custom-logo{
    max-width: 50%;
    max-height:25%;

    margin-top: -15px;
}
 #wrapper
{
    background-color:white;
    padding:0px;
}

.portlet-content, .portlet-minimized .portlet-content-container {
    padding: 0px;
}
.container-fluid-1280 .row {
	margin-left: 0px!important;
	margin-right: 0px!important;
}

.container-fluid{
	padding:0px;
}
#yui_patched_v3_18_1_1_1505803127913_14468{
	background-color: red !important;
}
.navi .navichild{
    display:inline;
    padding-left:20px;
    padding-right:20px;
}
#nav_background{
	align:left;
	margin-top: 34px;
	
}
